h1  {
    font-size: large;
    font-weight: bold;
    color: blue;
}

h2  {
    color: antiquewhite;
    background-color: black;
}



h6  {
    color: aqua;
    background-color: black;
}


