h1  {
    font-size: large;
    font-weight: bold;
    color: blue;
}

h2  {
    font-weight: bolder;
    font-family: system-ui;
}

h6  {
    color: aqua;
    background-color: chartreuse;
}

